@import '~office-ui-fabric-react/dist/sass/References.scss';
.mapComparablesSgmb {
    .popupMarkerTable {
        border-collapse: collapse;
    }
    .inlineDivBlock {
        display: inline;
    }
    .CloseDiv {
        background: none;
        display: block;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-transform: none;
        appearance: none;
        position: absolute;
        cursor: pointer;
        user-select: none;
        top: 5px;
        right: -10px;
        width: 30px;
        height: 30px;
    }
    .arrow {
        height: 0;
        right: 80px;
        position: absolute;
        bottom: -10px;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
    }
    .arrowPopUp {
        height: 0;
        right: 45%;
        position: absolute;
        bottom: -10px;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
    }
    .Pointer {
        cursor: pointer;
    }
    .CopyToClipboardMsg {
        color: green;
        font-weight: 600;
    }
    .googleMapReact {
        margin: 0 auto;
        height: 570px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    .googleMapSearchBox {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 5px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
        //position: fixed;
        //margin-top: -236px;
    }
    .googleMapSearchBox:focus {
        border-color: #ae1a1a;
    }
    .HideTextArea {
        display: none;
    }
    .marker {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        border: 2px solid #fff;
        border-radius: 100%;
        user-select: none;
        transform: translate(-50%, -50%);
        background-color: rgb(91, 91, 218);
        cursor: 'pointer';
        &:hover {
            z-index: 500;
        }
    }
    .markerOrganisme {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        border: 2px solid #fff;
        border-radius: 100%;
        user-select: none;
        transform: translate(-50%, -50%);
        background-color: rgb(238, 28, 28);
        cursor: 'pointer';
        &:hover {
            z-index: 500;
        }
    }
    .markerRapportClassic {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        border: 2px solid #fff;
        border-radius: 100%;
        user-select: none;
        transform: translate(-50%, -50%);
        background-color: rgb(63, 175, 49);
        cursor: 'pointer';
        &:hover {
            z-index: 500;
        }
    }
    .markerGrandProjet {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 100%;
        user-select: none;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 138, 62);
        cursor: 'pointer';
        &:hover {
            z-index: 500;
        }
    }
    .rightFloat {
        //margin-left: 50px;
        float: right;
        //align-self: flex-end;
    }
    .rightFloatBien {
        width: 70%;
        align-self: flex-end;
    }
    .spanInfo {
        font-weight: 500;
        width: 100px;
        padding: 5px;
    }
    .divContainer {
        display: block;
        margin: 0 auto;
    }
    .divChildren {
        display: inline-block;
        padding: 5px;
        vertical-align: top;
    }
    .markerActifs {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        background-color: #000;
        border: 2px solid #fff;
        border-radius: 100%;
        user-select: none;
        transform: translate(-50%, -50%);
        background-color: rgb(0, 0, 0);
        cursor: 'pointer';
        &:hover {
            z-index: 500;
        }
    }
    .popupRight {
        background: white;
        color: #333;
        position: absolute;
        bottom: 10px;
        left: -90px;
        padding: 12px;
        text-align: left;
        border-radius: 8px;
        width: 180px;
        font-size: 13px;
        font-weight: 300;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 30%);
        box-sizing: border-box;
        max-width: 358px;
        max-height: 369px;
        min-width: 0px;
    }
    .popupMarker {
        background: white;
        color: #333;
        //* box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
        //display: block;
        position: absolute;
        //top: -100px;//150
        bottom: 15px;
        left: -128px;
        padding: 12px;
        text-align: left;
        border-radius: 8px;
        width: 250px;
        font-size: 13px;
        font-weight: 300;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 30%);
        box-sizing: border-box;
        //overflow: hidden;
        max-width: 358px;
        max-height: 369px;
        min-width: 0px;
        //transform: translate3d(-50%,-100%,0);
    }
    .popupMarkerActif {
        background: white;
        color: #333;
        //* box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
        //display: block;
        position: absolute;
        //top: -120px;
        bottom: 15px;
        left: -155px;
        padding: 12px;
        text-align: left;
        border-radius: 8px;
        width: 300px;
        font-size: 14px;
        font-weight: 300;
        box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 30%);
        box-sizing: border-box;
        //overflow: hidden;
        max-width: 358px;
        max-height: 369px;
        min-width: 0px;
        //transform: translate3d(-50%,-100%,0);
    }
    .markerDiv {
        display: inline-block;
    }
    .container {
        max-width: 700px;
        height: 650px;
        margin: 0px auto;
        background-color: rgba(0, 0, 0, 0);
    }
    .row {
        @include ms-Grid-row;
        @include ms-fontColor-white;
        background-color: transparent;
        padding: 20px;
    }
    .column {
        @include ms-Grid-col;
        @include ms-lg10;
        @include ms-xl8;
        @include ms-xlPush2;
        @include ms-lgPush1;
    }
    .title {
        @include ms-font-xl;
        @include ms-fontColor-white;
    }
    .subTitle {
        @include ms-font-l;
        @include ms-fontColor-white;
    }
    .description {
        @include ms-font-l;
        @include ms-fontColor-white;
    }
    .button {
        // Our button
        text-decoration: none;
        height: 32px;
        // Primary Button
        min-width: 80px;
        background-color: $ms-color-themePrimary;
        border-color: $ms-color-themePrimary;
        color: $ms-color-white;
        // Basic Button
        outline: transparent;
        position: relative;
        font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: $ms-font-size-m;
        font-weight: $ms-font-weight-regular;
        border-width: 0;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        padding: 0 16px;
        .label {
            font-weight: $ms-font-weight-semibold;
            font-size: $ms-font-size-m;
            height: 32px;
            line-height: 32px;
            margin: 0 4px;
            vertical-align: top;
            display: inline-block;
        }
    }
}

table {
    width: 500px;
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 14px;
}


/* Zebra striping */

tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #4a79f8;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
    table {
        width: 750px;
        border-collapse: collapse;
        margin: 50px auto;
    }
    /* Zebra striping */
    tr:nth-of-type(odd) {
        background: #eee;
    }
    th {
        background: #3498db;
        color: white;
        font-weight: bold;
    }
    .pagebreak {
        page-break-before: always;
    }
}

.label-container {
    position: fixed;
    bottom: 48px;
    right: 105px;
    display: table;
    visibility: hidden;
}

.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
    opacity: 0.5;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #06C;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

a.float+div.label-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover+div.label-container {
    visibility: visible;
    opacity: 1;
}

.detailsGrid {
    display: grid;
    grid-template-columns: 50% 70%;
}